html, body {
    height: 100%;
}

body{
    background-color: #eee;
    display: flex;
    flex-direction: column;
}

.my-content{
    flex: 1;
}

.custom-navbar {
    padding: .75rem 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(#045498, 1), rgba(#045498, 0.95));
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.custom-footer{
    background-image: linear-gradient(to bottom, rgba(#045498, 1), rgba(#045498, 0.95));
    padding: .75rem 0;
    background-color: transparent;
}

.custom-pre-footer{
    border-top: solid 2px #045498;
    padding: .75rem 0;
    background-color: #fff;
}

.card{
    border-radius: 0;
}

.card > .card-header{
    font-weight: 600;
    border-radius: 0;
    background-color: #fff;
}

.card > .card-body{
    border-radius: 0;
    background-color: #fff;
}



